* {
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkorange;
}

h2 {
    color: darkorange;
}

#grid {
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(5, 1fr);
      gap: 10px;
      width: 80lvw;
      height: 80lvw;
      margin: auto;
}

.box {
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.box:hover {
    background-color: black;
    color: white;
}

ul {
    width: 80lvw;
    max-width: 500px;
    margin: auto;
    display: grid;
}

li {
    text-align: left;
}

footer {
    background-color: lightgray;
    position: fixed;
    bottom: 0;
}