* {
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkorange;
}

h2 {
    color: darkorange;
}

#grid {
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(5, 1fr);
      gap: 10px;
      width: 80%;
      height: 80vw;
      max-width: 1000px;
      max-height: 1000px;
      margin: auto;
}

.box {
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.box:hover {
    background-color: black;
    color: white;
}

ul {
    width: 80%;
    max-width: 500px;
    margin: auto;
    display: grid;
}

li {
    text-align: left;
}
